<h1>Relationships</h1>

<div class="posts">
  <%= render :partial => 'relationships', :locals => { :posts => @relationshipsposts } %>
</div>
<%= link_to 'Load More Posts', relationships_path(:page => @relationshipsposts.next_page), :class => 'load-more-posts', :remote => true if @relationshipsposts.next_page %>


