$('.posts').append('#{escape_javascript(render partial: "listall", :locals => { :posts => @posts })}');
$('a.load-more-posts').attr('href', '#{posts_path page: @posts.next_page}');

- unless @posts.next_page
  $('a.load-more-posts').remove();
