/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flatly.min
 *= require yoloconfessions
 */

 @import "bootstrap";

 .container {
  margin-top: 60px;
 }

.list-group-item {
  margin: 30px 0;
}

.navbar {
 border-radius: 0px !important;
}

.post-title {
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 55px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(51, 51, 50);
  outline-style: none;
  outline-width: 0px;
  word-wrap: break-word;
}

.post-body {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1599999964237213px;
  line-height: 33px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  visibility: visible;
}
