.post-title {
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 55px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  outline-color: rgb(51, 51, 50);
  outline-style: none;
  outline-width: 0px;
  word-wrap: break-word;
}

.post-body {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1599999964237213px;
  line-height: 33px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  visibility: visible;
}

.well {
  background-color: RGBA(255, 255, 255, 1);
}

.form-control {
  height: 60px;
  padding: 0px;
  border: none;

 }

 .formtitle {
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 55px;
 }

 .formbody {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1599999964237213px;
  line-height: 33px;
  overflow: hidden;
 }

.hiddenlabels {
  display: none;
}

.admin-category-badge {
  font-size: 16px;
  background-color: rgba(45, 61, 82, 0.5);
  border-radius: 0px;
  padding: 5px;
}

.btn-lg {
padding: 8px 20px;
}
